# FRAMEWORK
DEBUG=True
SECRET_KEY=FakeKeyChangeMe

# SMTP Settings
EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=2525
EMAIL_HOST_USER=input_yor_email@mail.ru
EMAIL_HOST_PASSWORD=input_your_password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

# Api open-meteo
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/

